* {
	margin: 0;
	padding: 0;
	
}

body{
	background: black url('img2/background.jpg') top center no-repeat;
	font-size: 20px;
	font-family: arial;
	font-weight: lighter ;
	text-align: center;
	padding: 40px;
	color:#333;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	padding: 0 0 10px;
	margin: 0 0 10px;
}
#container 
{
	width: 600px;
	margin: 0 auto; 
}
.content_block
{
	background: url('img2/transparent_white.png') top left repeat;
	padding: 20px;
	margin: 20px 0;
}
#content
{
	border: solid 10px black;
}
#reserve
{
	border: solid 10px white;
}
#footer
{
	background: black;
	color: white;
}
form
{
	text-align: left;
	width: 300px;
	margin: 20px auto 0;
}
form label
{
	display: black;
	width:290px;/* 290px width + 5px padding left + 5px padding right =300px */
	padding: 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	background: #333;
	color:white;
}
/*padding adds to the width of the element becz its inside of the border*/
form input
{
	display:black ;
	width:290px;
	padding: 5px;
	margin:0 0 10px;
	border: none;
	font-family: times;
	font-style: italic;
}
form input[type="submit"]
{
	background: #333;
	color: white;
	cursor: pointer;
}