/*custom css*/

*{
	margin: 0;
	padding: 0;
}
body
{
	background: #eee;
	color: #333;
	font-family: arial;
	font-size: 20px;
}
#container
{
	width:700px;
}

#header, #footer
{
	background: #333;
	color: #fff;
	padding: 30px;
	margin: 10px;
}
#footer
{
	text-align: center;
	font-size: 20px ;
}

.lead
{
	font-size: 12px;
}

.blogpost
{
	background: #fff;
	padding: 30px;
	margin: 0px 10px 10px; /* margins overlap */
}
h1, h2, h3 
{
	color: #ed7000;
}

.blogpost h2, .blogpost p
{
	margin-bottom: 10px;
	color: slateblue;
} 

.blogpost em
{
	color: fuchsia;
}
