/*simple css reset*/
*{
	margin:0;
	padding:0;
}
body
{
	background: #333;
	color: #222;
	font-family:helvetica, arial;
	text-align: center;
}
#container
{
	background:white;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
}
h1
{
	margin: 0 0 20px;
}
p
{
	margin: 10px 0;
}
/* styling links*/

a:link
{
	color: #f42aa6;
	text-decoration: none;
}
a:visited /* the link which has been visited you can add a style if the link has been visited */
{
	color: #f42aa6;
}
a:hover
{
	color: #a50578;
	text-decoration: underline;
}
a:active
{
 color: #000;
}
/*specific link styles*/
#link-1: hover
{
	background: peachpuff;
	color: white;
	padding: 5px;
	text-decoration: none;
}
#link-3
{
	background: #f42aa6;
	color: white;
	padding: 5px;
}
#link-3:hover
{
	background: #a50578;
	text-decoration: none;
}
#link-4:hover
{
	color:#333;
}
