*{
	margin: 0;
	padding:0;
	font-weight: normal;
	font-size: 16px;
}
body
{
	padding: 48px;
	font-family: georgia;
	color: aliceblue;
}
h1,h2,h3,h4,h5,h6
{
	margin: 10px 0;
	font-family: arial;
	font-weight: bold;
}
h1
{
	font-size: 3em;
}
h2
{
	font-size: 2em; /* 2 times the base font size*/
}
h3
{
	font-size: 1.5em ;
	letter-spacing: -1px;
	text-align: center;
}
blockquote
{
	margin: 0 0 0 30px;
	font-style: italic ;
	text-indent: 80px;
	line-height: 1.3px;
}
em
{
	text-transform: capitalize;
	font-weight: bold;
}
 
 