body{
	background: #333 ;
	font-family: serif;
	color: #fff;
	font-size: 30px ;
}
h1,h2,h3,h4,h5,h6{
	font-family: sans-serif;
	color: #ffcc33;
}
h1{
	border: dashed 1px ;
	background: #000;
	font-size: 2em;
	padding: 10px;
}
ol{
	border: solid 4px #bce3ed;
	background: #33bcde;
	padding: 20px 20px 20px 40px;
	margin: 5% 0;
}
a{
	color: #ffcc33;
}
strong
{
	color: hotpink;
}